<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.groupfund">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.NewEventTitleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.groupfund.ui.HomeActivity"></meta-data>
        </activity>
        <activity android:name=".ui.NewEventStartDateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.groupfund.ui.NewEventTitleActivity"></meta-data>
        </activity>
        <activity android:name=".ui.NewEventEndDateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.groupfund.ui.NewEventStartDateActivity"></meta-data>
        </activity>
        <activity android:name=".ui.NewEventLocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.groupfund.ui.NewEventEndDateActivity"></meta-data>
        </activity>
        <activity android:name=".ui.NewEventDescriptionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.groupfund.ui.NewEventLocationActivity"></meta-data>
        </activity>
        <activity android:name=".ui.NewEventTotalCostActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.groupfund.ui.NewEventDescriptionActivity"></meta-data>
        </activity>
        <activity android:name=".ui.InviteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epicodus.groupfund.ui.NewEventTotalCostActivity"></meta-data>
        </activity>
        <activity android:name=".ui.EventDetailActivity"></activity>
    </application>

</manifest>